<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Started</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <style>
        /* Add space between table cells */
        td {
            padding-right: 15px; /* Adjust the value as needed */
        }
        
        /* Add scrollbar to the song list */
        .song-scroll {
            height: 500px; /* Set the height of the div */
            overflow-y: auto; /* Enable vertical scrollbar */
        }
    </style>
</head>
<body>
    <div class="ex_bc">
        <div class="left">
            <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: blanchedalmond; filter: opacity(0.4);">Begin Your Musical Journey</h1>
        </div>
        <div class="rec">
            <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(243, 191, 113); filter: opacity(0.4); padding-right: 20px; font-size: 30px;">&nbsp;ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Artist&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Album</h2>
        </div>
        <a href="{{ url_for('playlist_html') }}"><span class="button">Playlist</span></a>  
        <a href="{{ url_for('explore_html') }}"><span class="button1">Explore</span></a>
        <a href="{{ url_for('getStarted_html') }}"><span class="button2">Get Started</span></a>
        <a href="{{ url_for('home') }}"><span class="button3">Home</span></a>
        <div class="song-scroll">
            <div class="song">
                <form action="/process" method="post">
                    <table>
                        <thead>
                            <tr>
                                <th></th> <!-- Empty header cell for the checkbox -->
                                
                                <!-- Add more table headers as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in table.iterrows() %}
                            <tr>
                                <td><input type="checkbox" name="selected_rows" value="{{ row['ID'] }},{{ row['Artist'] }},{{ row['Album'] }}"></td>
                                <td>{{ row['ID'] }}</td>
                                <td>{{ row['Artist'] }}</td>
                                <td>{{ row['Album'] }}</td>
                                <!-- Add more table cells as needed -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="button4">Add To Playlist</button> <!-- Change to button type to submit the form -->
                </form>                
            </div>
        </div>
    </div>
</body>
</html>
